body {
    background-color: #2a3742;
    font-family: 'Montserrat', sans-serif;
  }
  .main {
    color: #ff7373;
    text-align: center; 
    display: "flex";
    margin-top: 50px;
  }
  @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  